<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="menuFragment">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Marks App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div align="center" class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="${home}"
                       th:with="home=${T(org.przemekrutkowski.exammarksapp.util.Mappings).HOME}">Home Page</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item">
                    <a class="nav-link"
                       th:href="${markList}"
                       th:with="markList=${T(org.przemekrutkowski.exammarksapp.util.Mappings).MARKS_LIST}">Marks</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link"
                       th:href="${studentsList}"
                       th:with="studentsList=${T(org.przemekrutkowski.exammarksapp.util.Mappings).STUDENTS_LIST}">Students List</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="password_change">Password change</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')"  class="dropdown-item" href="user_administration">User Administration</a>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item">
                    <a class="nav-link"
                       th:href="${logout}"
                       th:with="logout=${T(org.przemekrutkowski.exammarksapp.util.Mappings).LOGOUT}">Logout</a>
                </li>
                <li sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="nav-item">
                    <a class="nav-link"
                       th:href="${login}"
                       th:with="login=${T(org.przemekrutkowski.exammarksapp.util.Mappings).LOGIN}">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</div>
</div>
</html>