<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Exam Marks</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menuFragment}"/>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 container justify-content-center card">
            <div class="card-body">
                <H1 align="center">Exam Marks App</H1>
                <p><br></p>
                <p align="center">Hello students.
                    You can check your computer science grades on this website using password and login that I gave you
                    on first
                    lecture.
                    Cheers :) </br> Przemysław Rutkowski</p>
                <div align="center">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>