<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menuFragment}"/>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
            <div class="card-body">

                <br>
                <br>
                <br>
                <H5 align="center">Change your password:</H5>
                <br>
                <br>

                <div th:if="${message != null}">
                    <div class="alert alert-success" role="alert">
                        <H5 align="center" class="text" th:text="${message}"></H5>
                    </div>
                    <p>&nbsp;</p>
                </div>
                <form th:action="@{password_change}" th:object="${password_dto}" method="post">
                    <div th:if="${#fields.hasErrors('all')}">
                        <div align="center" class="alert alert-danger" role="alert">
                            <h5>Error. Wrong data format:</h5>
                            <i th:errors="*{all}">Incorrect data</i>
                        </div>
                        <p>&nbsp;</p>
                    </div>
                    <div class="form-group row">
                        <label for="inputOldPass" class="col-sm-3 col-form-label">Old password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputOldPass" th:field="*{oldPassword}"
                                   th:errorclass="'form-control is-invalid'">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNewPass" class="col-sm-3 col-form-label">New password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputNewPass" th:field="*{newPassword}"
                                   th:errorclass="'form-control is-invalid'">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNewPassConfirm" class="col-sm-3 col-form-label">New password (confirm)</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputNewPassConfirm"
                                   th:field="*{newPasswordConfirm}"
                                   th:errorclass="'form-control is-invalid'">
                        </div>
                    </div>
                    <div align="center">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-danger" value="Reset">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
</body>
</html>